<?xml version="1.0" encoding="UTF-8"?>
<!-- 使用前，请好好查看配置文件说明及使用说明-->
<configure>
	<!--生成代码路径  -->
	<basedir>f:\\code</basedir>
	<!--基础包名-->
	<basePackage>com.test</basePackage>
	<!-- 是否去表名前缀 ,默认false-->
	<isDeleteTablePrefix>false</isDeleteTablePrefix>
	<!-- 全局表名前缀，可以多个，英文逗号分隔 ,默认""-->
	<baseTabPrefix>sys_,wxcms_</baseTabPrefix>
	<!-- 表字段下划线是否转成驼峰命名 ,默认false-->
	<columnIsCamel>false</columnIsCamel>
	<!-- 持久层框架 -->
	<persistance>mybatis</persistance>
	<!-- 一些公共类，工具类,父类等原样输出，仅仅用来辅助下面的代码生成,不必需(包名=模板文件名(也是类名)，多个英文逗号隔开) -->
	<!-- 这里配置了分页类，mybatis分页拦截器, mybatis通用配置-->
	<!--  
	<common>common=Page,common=PageInterceptor,resource=Xml_mybatis</common>
	-->
	<!-- 数据库配置 -->
	<db>
		<dbType>mysql</dbType>
		<dbName>wxmp</dbName>
		<user>root</user>
		<pwd>q123</pwd>
		<driver>com.mysql.jdbc.Driver</driver>
		<url>jdbc:mysql://localhost:3306/wxmp?useUnicode=true&amp;characterEncoding=UTF-8</url>
	</db>
	<!-- 模块配置，可以有多个 -->
	<module>
		<!-- 模块名，默认"" -->
		<name>test</name>
		<!-- 以下各个类的包名 -->
		<entityPackage>entity</entityPackage>
		<daoPackage>dao</daoPackage>
		<servicePackage>service</servicePackage>
		<controllerPackage>controller</controllerPackage>
		<mapperPackage>mapper</mapperPackage>
		<!-- 视图，tpl 模板名，suffix 视图后缀;标签文本 包名-->
		<viewPackage tpl="Jsp_list" suffix="jsp">jsp</viewPackage>
		<customPackage tpl="Jsp_add" suffix="java">custom</customPackage>
		
		<!-- ref标签（单向）  关联表，如果需要双向关联  两个table都需配置对应对方的ref -->
		<table name="sys_user" prefix="">
			<ref name="wxcms_login_info" type="OneToMany">id=user_id</ref>
			<ref name="wxcms_user_tag" type="OneToMany">account=account</ref>
		</table>
		<table name="wxcms_login_info" prefix="">
			<ref name="sys_user" type="ManyToOne">user_id=id</ref>
		</table>
		<table name="wxcms_user_tag" exclude="view,custom"/>
		
		<table name="wxcms_article" exclude="view,custom">
			<!-- exclude排除掉title字段， 如果 exclude与include属性同时存在，只会生效exclude-->
			<columnGroup exclude="title"> 
			   <!--表字段 自定义了 字段文本  -->
			   <column colName="author" labelName="作者"></column>
			   <!--表字段 自定义了 字段文本,表单类型及字段值标识  -->
			   <column colName="show_cover_pic" labelName="是否显示图片" tagType="checkbox">0=显示,1=不显示</column>
			</columnGroup>
		</table>
	</module>
</configure>