<!-- <div class="layui-breadcrumb nepadmin-breadcrumb" lay-filter="nepadmin-breadcrumb">
  <a lay-href="/">首页</a>
  <a>新增模块</a>
  <a>
    <cite>admin</cite>
  </a>
</div> -->

<div class="layui-fluid" id="VIEW-module-admin" lay-title="配置文件说明">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-lg12">
      <div class="layui-card">
        <div class="layui-card-body">
          <h3 class="nepadmin-c-gray">配置文件说明
          <span class="nepadmin-c-red nepadmin-bold">{*必需：必需配置该标签（属性），内容可以为空；非必需：可以不配置该标签（属性）}</span>
          </h3>
          <hr>
          <p class="nepadmin-c-red nepadmin-bold">configure根标签</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
              <col width="80">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>global</td>
                <td>全局配置</td>
                <td>否</td>
                <td>没有</td>
                <td></td>
              </tr>
            
              <tr>
                <td>db</td>
                <td>连接数据库的配置，详情请看db标签说明</td>
                <td>是</td>
                <td>没有</td>
                <td></td>
              </tr>
              <tr>
                <td>module</td>
                <td>模块设置，可以配置多个module，详情请看module标签说明</td>
                <td>是</td>
                <td>name</td>
                <td>属性name为模块名，默认""，非必需</td>
              </tr>
            </tbody>
          </table>
          
          <p class="nepadmin-c-red nepadmin-bold">global标签</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
              <col width="80">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>property</td>
                <td>全局属性配置，可配置多个</td>
                <td>否</td>
                <td>name,value</td>
                <td>配置name-value，现有属性：baseDir(路径,默认项目所在目录),basePackage(基础包名，默认mapleLeaf.code)
                ,deleteTabPrefix(是否删除表名前缀，默认false),baseTabPrefix(全局表名前缀，默认"")
                ,columnCamel(表字段下划线转驼峰命名，默认false),persistance(持久层框架，默认mybatis)</td>
              </tr>
              <tr>
                <td>common</td>
                <td>公共类配置，形式：“包名=模板”多个逗号分隔，模板不需要后缀。如：util=Page,commom.Dao=BaseDao</td>
                <td>否</td>
                <td>没有</td>
                <td></td>
              </tr>
              
            </tbody>
          </table>
          
          
          <p class="nepadmin-c-red nepadmin-bold">db标签</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
              <col width="80">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>dbType</td>
                <td>数据库</td>
                <td>是</td>
                <td>没有</td>
                <td>可选：mysql，oracle，postgresql，sqlserver，informix
                </td>
              </tr>
              <tr>
                <td>dbName</td>
                <td>数据库名</td>
                <td>是</td>
                <td>没有</td>
                <td>
                </td>
              </tr>
              <tr>
                <td>user</td>
                <td>数据库用户名</td>
                <td>是</td>
                <td>没有</td>
                <td>
                </td>
              </tr>
              <tr>
                <td>pwd</td>
                <td>数据库密码</td>
                <td>是</td>
                <td>没有</td>
                <td>
                </td>
              </tr>
              <tr>
                <td>driver</td>
                <td>数据库驱动</td>
                <td>是</td>
                <td>没有</td>
                <td>
                </td>
              </tr>
              <tr>
                <td>url</td>
                <td>数据库url</td>
                <td>是</td>
                <td>没有</td>
                <td>
                </td>
              </tr>
              
            </tbody>
          </table>
          
         
          <p class="nepadmin-c-red nepadmin-bold">module标签（可配置多个）</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col width="200">
              <col width="80">
              <col width="80">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
              <tr class="nepadmin-c-red nepadmin-bold">
                <td>table</td>
                <td>配置数据库表，一个模块下可以配置多个table</td>
                <td>是</td>
                <td>entName,tabName,
                prefix,exclude</td>
                <td>entName属性：配置自定义实体类名，非必需；
                tabName属性：表名，必需；prefix属性：表名前缀，非必需；
                exclude属性：排除指定模板代码生成（entity,dao,service,controller,custom选择多个时，逗号分隔），非必需；
                </td>
              </tr>
            
              <tr>
                <td>package</td>
                <td>包名配置</td>
                <td>是</td>
                <td>没有</td>
                <td></td>
              </tr>
               <tr class="nepadmin-c-red nepadmin-bold">
                <td>customArea</td>
                <td>自定义区域。详情请查看customArea标签</td>
                <td>否</td>
                <td>没有</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          
          <p class="nepadmin-c-red nepadmin-bold">package标签</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
              <col width="80">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
             <tr class="nepadmin-c-red nepadmin-bold">
                <td>property</td>
                <td>包名属性配置，可配置多个（如果为空或没配置，则该包对应类不会生成代码 ）</td>
                <td>否</td>
                <td>name,value</td>
                <td>配置name-value，entityPkg(实体类包名),daoPkg(dao包名，实现类默认该包的impl下)
                ,servicePkg(业务层类包名,实现类默认该包的impl下),controllerPkg(控制层类包名)
                ,mapperPkg(mybatis的mapperXML包名)</td>
              </tr>
              
            </tbody>
          </table>
          
          <p class="nepadmin-c-red nepadmin-bold">customArea标签</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
              <col width="80">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
             <tr>
                <td>codeFile</td>
                <td>自定义配置，可配置多个;标签内容为模板，多个逗号分隔，必需</td>
                <td>否</td>
                <td>customPkg,suffix</td>
                <td>customPkg属性：配置包名，必需；suffix属性：配置生成代码文件的后缀，非必需，默认ctm</td>
              </tr>
              <tr>
                <td>param</td>
                <td>自定义参数，可配置多个</td>
                <td>否</td>
                <td>key,value</td>
                <td>key属性：参数名，必需；value属性：参数值，必需；模板中可通过${param['key']!}获取参数值</td>
              </tr>
              
            </tbody>
          </table>
          
          <p class="nepadmin-c-red nepadmin-bold">table标签</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
              <col width="80">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
              <tr class="nepadmin-c-red nepadmin-bold">
                <td>ref</td>
                <td>
                 	关联表配置（单向）可以配置多个ref，如果需要双向关联，需两个table相互配置ref。 
                 	标签内容为两table关联的字段，table标签的字段在前，可以多个，如：id=id,name=user_name
               	</td>
                <td>否</td>
                <td>tabName，type</td>
                <td>tabName属性：关联表的表名，而且该表名已配置table，必需；
                type属性：关联关系（OneToOne，ManyToMany，ManyToOne，OneToMany），必需
                </td>
              </tr>
              <tr>
                <td>columnGroup</td>
                <td>
                  	表字段集合
               	</td>
                <td>否</td>
                <td>exclude</td>
                <td>
                exclude属性：需要排除的表字段，非必需；
                </td>
              </tr>
              
            </tbody>
          </table>
          
          
          <p class="nepadmin-c-red nepadmin-bold">columnGroup标签</p>
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
              <col width="80">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>子标签</th>
                <th>子标签说明</th>
                <th>是否必需</th>
                <th>子标签属性</th>
                <th>子标签属性说明</th>
              </tr>
            </thead>
            <tbody>
              <tr class="nepadmin-c-red nepadmin-bold">
                <td>column</td>
                <td>
                 	表字段标签，可自定义字段属性；配置的字段名必须未被过滤掉，而且表中存在；
                 	标签内容为字段值设定，比如 flag字段表示状态。可自定义字段值  
                 	如：0=可用,1=不可用；对应COMMENT约定格式的第3个；
                 	默认会从COMMENT中取（如果有） COMMENT约定格式(字段文本;表单类型;val1:text1,val2:text2;)
               	</td>
                <td>否</td>
                <td>colName，labelName，tagType</td>
                <td>colName属性：字段名，必需；
                	labelName属性：自定义字段文本，可用来在页面中显示文本，非必需，
                	默认会从COMMENT中取 
                	tagType属性：自定义表单标签类型，页面中可使用，可以自己定义一套，
                	比如 select表示下拉框，checkbox表示多选，radio表示单选等，非必需，
                	默认也会从COMMENT中取
                </td>
              </tr>
             
            </tbody>
          </table>
          
        </div>
      </div>
     
    </div>
  </div>
</div>
